{% extends "base.njk" %}
{% block main %}
<article>
  {# places website content above the portfolio grid #}
  {{content | safe}}
  <section class="portfolio">
    {# select which portfolio layout to use #}
    {% if portfolio_type == "wide" %}
     {% include 'partials/portfolio-wide.njk' %}
      {% else %}
      {% include 'partials/portfolio-grid.njk' %}
        
    {% endif %}
    
    
  </section>
</article>

{% endblock %}