/* font imports here */
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav ol,
nav ul {
  list-style: none;
  padding-inline-start: 1em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

::root {
  --font-stack-main: "Work Sans", sans-serif;
}

* {
  color: black;
}

h1 {
  font-size: 2.82rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.41rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

p {
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
}

p {
  margin-bottom: 0.5em;
}

:root {
  font-size: 18px;
  font-family: "Work Sans", sans-serif;
  --main-padding: 1rem;
  --sidebar-width: 300px;
  --main-col-width: 800px;
  --card-padding: 1rem;
  --sidebar-color: lightgrey;
  --color-text-primary: black;
  --color-highlight: lightgreen;
}

body {
  margin: 0;
}

.main-nav-container {
  width: var(--sidebar-width);
  position: fixed;
  background-color: var(--sidebar-color);
  height: 100%;
  z-index: 10;
  transition: all 0.5s;
}

.btn-toggle-menu {
  display: none;
}

.sidebar-nav-link-section * {
  color: black;
  text-decoration: none;
}
.sidebar-nav-link-section a {
  display: inline-block;
  padding: 0.25rem;
  transition: background-color 0.2s;
}
.sidebar-nav-link-section a:hover {
  background-color: var(--color-highlight);
}

main {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: calc(var(--sidebar-width) + var(--main-padding));
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  padding-right: var(--main-padding);
  /* width: 100%; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  max-width: var(--main-col-width);
  width: 100%;
}

/* Portfolio Grid */
.portfolio-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 0;
  position: relative;
  width: 100%;
}

.portfolio-grid-tile {
  position: relative;
  padding: var(--card-padding);
  color: var(--color-text-primary);
  display: block;
}
.portfolio-grid-tile * {
  color: var(--color-text-primary);
  text-decoration: none;
}
.portfolio-grid-tile h2 {
  font-size: 1.25rem;
}
.portfolio-grid-tile:hover {
  background-color: var(--color-highlight);
}

.portfolio-grid-tile-contents {
  position: relative;
  max-width: 100%;
}

.portfolio-grid-tile img {
  width: 100%;
  position: relative;
}

.portfolio-image-tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 0;
  position: relative;
  width: 100%;
  align-content: stretch;
  height: auto;
}

.portfolio-image-tile {
  position: relative;
  overflow: hidden;
}
.portfolio-image-tile img {
  width: 100%;
  display: block;
}

.portfolio-image-tile-text-overlay {
  padding: var(--card-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: var(--card-padding);
  left: var(--card-padding);
  right: var(--card-padding);
  bottom: var(--card-padding);
  opacity: 0;
  background-color: white;
  transform: scale(90%);
  transition: all 0.5s;
}

.portfolio-image-tile:focus .portfolio-image-tile-text-overlay,
.portfolio-image-tile:hover .portfolio-image-tile-text-overlay {
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}

/* wide (UX) portfolio layout */
.portfolio-wide-img {
  width: 100%;
  height: auto;
}

.portfolio-wide-text-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: var(--main-padding);
}

.portfolio-wide-text-md {
  font-size: 1.5rem;
}

.portfolio-wide-cta-link {
  display: block;
}

.splash-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  overflow-y: scroll;
}

.fade-leave {
  opacity: 1;
  transform: translateY(0);
}

.fade-leave-active {
  transition: all 0.3s linear;
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-enter-active {
  transition: all 0.3s linear;
}

.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 720px) {
  .main-nav-container {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    width: initial;
    height: 3rem;
  }
  .main-nav-container hr {
    display: none;
  }
  .sidebar-nav-link-section {
    margin: 0;
    padding-top: var(--card-padding);
    padding-bottom: var(--card-padding);
  }
  .sidebar-nav-link-section a {
    font-size: 1.41rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .main-nav {
    transform: none;
    background-color: var(--sidebar-color);
    opacity: 1;
    transition: all 0.3s;
  }
  .main-nav-hidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
  }
  .btn-toggle-menu {
    display: block;
  }
  .site-masthead {
    z-index: 10;
    position: relative;
    height: 3rem;
    display: flex;
    padding: 0 var(--card-padding);
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .site-masthead h3 {
    margin: 0;
  }
  .site-masthead p {
    display: none;
  }
  main {
    padding-left: var(--card-padding);
    padding-right: var(--card-padding);
  }
}
code {
  white-space: pre-wrap;
  line-height: 1.2;
}

pre {
  background-color: yellow;
  padding-top: var(--card-padding);
  padding-bottom: var(--card-padding);
}

.active {
  background-color: var(--color-highlight);
  transition: background-color 0.2s;
}

section.big-text {
  background-color: green;
  padding: var(--card-padding);
  position: relative;
}