/* font imports here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;800&family=Viaoda+Libre&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

nav ul {
  list-style: none;
  padding-inline-start: 1em;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

/* This line sets the default font for most text, including the body text and navigation */
/* This line sets the font for headers, including the site title*/
.btn-toggle-menu {
  display: none;
  background: transparent;
  border: 0;
  color: white;
  font-size: 1.5rem;
  font-family: "Montserrat Alternates", sans-serif;
}

.component-inline-nav .sibling-navigation a,
.component-inline-nav .sibling-navigation a:visited {
  color: black !important;
}

.portfolio-tile-text-overlay {
  background: linear-gradient(#005632, #285d00);
  color: white;
}

.pair {
  display: inline-block;
  width: 100%;
}
@media (min-width: 480px) {
  .pair {
    width: 49%;
  }
}

@media (min-width: 720px) {
  .site-masthead h3 {
    font-size: 58px;
  }
}
:root {
  font-size: 130%;
  font-family: "Montserrat Alternates", sans-serif;
}

h1 {
  font-size: 2.744rem;
}

h2 {
  font-size: 1.96rem;
}

h3 {
  font-size: 1.4rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  font-family: "Viaoda Libre", cursive;
  display: block;
  max-width: 40rem;
}

p {
  line-height: 1.6;
  margin-bottom: 0.75em;
  max-width: 40rem;
}
p > img {
  width: 100%;
}

main ul,
main ol {
  padding-inline-start: 1em;
}
main ul li,
main ol li {
  margin-bottom: 0.25em;
}
main ul li p,
main ol li p {
  margin-bottom: 0.25em;
}

body {
  margin: 0;
}

.main-nav-container {
  width: clamp(250px, 30%, 500px);
  position: fixed;
  background-color: #0d3a2c;
  height: 100%;
  padding: 2rem;
  z-index: 10;
  transition: all 0.5s;
}
.main-nav-container hr {
  color: rgb(228, 228, 228);
}

.site-masthead {
  z-index: 10;
  position: relative;
  padding-bottom: 2rem;
}
.site-masthead h3 {
  margin-top: 0;
}
.site-masthead p {
  margin-bottom: 0;
}

.btn-toggle-menu {
  display: none;
}

.sidebar-nav-link-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-inline-start: 0;
}
.sidebar-nav-link-section * {
  color: rgb(228, 228, 228);
  text-decoration: none;
}
.sidebar-nav-link-section a {
  display: inline-block;
  padding: 0.25rem;
  transition: background-color 0.2s;
}
.sidebar-nav-link-section a:hover {
  background-color: rgb(4, 38, 28);
}

main {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: clamp(250px, 30%, 500px);
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-right: 0;
  /* width: 100%; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
article > *:not(.custom-width) {
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
  max-width: 40rem;
  flex-shrink: 0;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: 0.5rem;
}

/* Portfolio Card */
.portfolio-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: 0;
  position: relative;
  width: 100%;
}

.portfolio-card-tile {
  position: relative;
  padding: 2rem;
  text-decoration: none;
  color: var(--color-text-primary);
  display: block;
}
.portfolio-card-tile * {
  display: block;
  color: var(--color-text-primary);
  text-decoration: none;
}
.portfolio-card-tile h2 {
  font-size: 1.25rem;
}
.portfolio-card-tile:hover {
  background-color: rgb(4, 38, 28);
}

.portfolio-card-tile-contents {
  position: relative;
  max-width: 100%;
}

.portfolio-card-tile img {
  width: 100%;
  position: relative;
}

.portfolio-tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(450px, 33%), 1fr));
  padding: 0px;
  gap: 0px 0px;
}

.portfolio-tile {
  position: relative;
  overflow: hidden;
}
.portfolio-tile img {
  width: 100%;
  display: block;
}

.portfolio-tile-text-overlay {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 2rem;
  left: 2rem;
  right: 2rem;
  bottom: 2rem;
  opacity: 0;
  background-color: white;
  transform: scale(90%);
  transition: all 0.5s;
  color: rgb(228, 228, 228);
  text-decoration: none;
}
.portfolio-tile-text-overlay :first-child {
  margin-top: 0;
}
.portfolio-tile-text-overlay :last-child {
  margin-bottom: 0;
}

.portfolio-tile:not(:focus, :hover) .portfolio-tile-text-overlay {
  pointer-events: none;
}

.portfolio-tile:focus .portfolio-tile-text-overlay,
.portfolio-tile:hover .portfolio-tile-text-overlay {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}

/* wide (UX) portfolio layout */
.portfolio-wide-img {
  width: 100%;
  height: auto;
}

.portfolio-wide-text-wrapper {
  width: 100%;
  display: grid;
  padding-top: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: 2rem;
}

.portfolio-wide-text-sm {
  font-size: 0.7142857143rem;
}

.portfolio-wide-text-md {
  font-size: 1.5rem;
}

.portfolio-wide-cta-link {
  display: block;
}

.splash-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

html {
  overflow-y: scroll;
}

.fade-leave {
  opacity: 1;
  transform: translateY(0);
}

.fade-leave-active {
  transition: all 0.3s linear;
}

.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}

.fade-enter-active {
  transition: all 0.3s linear;
}

.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 720px) {
  .main-nav-container {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    width: initial;
    height: 3rem;
  }
  .main-nav-container hr {
    display: none;
  }
  .sidebar-nav-link-section {
    margin: 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .sidebar-nav-link-section a {
    font-size: 1.4rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .main-nav {
    transform: none;
    background-color: #0d3a2c;
    opacity: 1;
    transition: all 0.3s;
    padding-left: 2rem;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 3rem);
  }
  .main-nav-hidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
  }
  .portfolio-tile-container {
    grid-template-columns: 100%;
  }
  .btn-toggle-menu {
    display: block;
  }
  .site-masthead {
    z-index: 10;
    position: relative;
    height: 3rem;
    display: flex;
    padding: 2rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .site-masthead h3 {
    margin: 0;
  }
  .site-masthead p {
    display: none;
  }
  main {
    padding-left: 0;
    padding-right: 0;
  }
}
.page-title {
  border-bottom: 3px solid black;
  padding-bottom: 2rem;
}

code {
  white-space: pre-wrap;
  line-height: 1.2;
}

pre {
  background-color: yellow;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.active {
  background-color: rgb(4, 38, 28);
  transition: background-color 0.2s;
}

section.big-text {
  background-color: lightpink;
  padding: 4rem;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
section.big-text > :first-child {
  margin-top: 0;
}
section.big-text > :last-child {
  margin-bottom: 0;
}
section.big-text p {
  font-size: 1.4rem;
}
section.big-text > * {
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
  max-width: 40rem;
  flex-shrink: 0;
}

.component-inline-nav {
  max-width: 40rem;
  border-top: 3px solid black;
  padding-top: 2rem;
  margin-top: 4rem;
}

.component-inline-nav .sibling-navigation {
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: space-between;
}
.component-inline-nav .sibling-navigation a {
  padding: 2rem;
}
.component-inline-nav .sibling-navigation a,
.component-inline-nav .sibling-navigation a:visited {
  color: rgb(228, 228, 228);
  text-decoration: none;
}
.component-inline-nav .sibling-navigation a:hover,
.component-inline-nav .sibling-navigation a:focus {
  background-color: lightpink;
}
.component-inline-nav .sibling-navigation > :first-child {
  text-align: left;
}
.component-inline-nav .sibling-navigation > :last-child {
  text-align: right;
}

.custom-width-125 {
  max-width: 50rem;
}

.custom-width-150 {
  max-width: 60rem;
}

.custom-width-200 {
  max-width: 80rem;
}

.custom-width-75 {
  max-width: 30rem;
}

.custom-width-full {
  width: 100%;
}

.site-masthead h3 {
  color: white;
}
.site-masthead p {
  color: white;
}