@use "reset.css";
@use "sass:math";
@use "../../../content/css/theme.scss" as *;

// sass calculations:

$sidebar-calc-width: clamp(
  $sidebar-min-width,
  $sidebar-width,
  $sidebar-max-width
);

$font-size-sm: math.pow($font-size-scale-factor, -1) + 0rem; //figcaption
$font-size-md: math.pow($font-size-scale-factor, 0) + 0rem; //p
$font-size-l: math.pow($font-size-scale-factor, 1) + 0rem; //h3
$font-size-xl: math.pow($font-size-scale-factor, 2) + 0rem; //h2
$font-size-xxl: math.pow($font-size-scale-factor, 3) + 0rem; //h1

:root {
  font-size: $font-size-base;
  font-family: $theme-font-stack-main;
}

h1 {
  font-size: $font-size-xxl;
}
h2 {
  font-size: $font-size-xl;
}
h3 {
  font-size: $font-size-l;
}
h4,
h5,
h6 {
  font-size: $font-size-md;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0.75em;
  margin-bottom: 0.25em;
  font-family: $theme-font-stack-headers;
  display: block;
  max-width: $main-col-width;
}
p {
  line-height: 1.6;
  margin-bottom: 0.75em;
  max-width: $main-col-width;
  > img {
    width: 100%;
  }
}
main {
  ul,
  ol {
    padding-inline-start: 1em;
    li {
      margin-bottom: 0.25em;
      p {
        margin-bottom: 0.25em;
      }
    }
  }
}

body {
  margin: 0;
}
.main-nav-container {
  width: $sidebar-calc-width;
  position: fixed;
  background-color: $color-sidebar-background;
  height: 100%;
  padding: $padding-main;
  z-index: 10;
  transition: all 0.5s;
  hr {
    color: $color-text-primary;
  }
}
.site-masthead {
  z-index: 10;
  position: relative;
  h3 {
    margin-top: 0;
  }
  p {
    margin-bottom: 0;
  }
  padding-bottom: $padding-main;
  // padding: $padding-card $padding-main;
}

.btn-toggle-menu {
  display: none;
}
.sidebar-nav-link-section {
  padding-top: $padding-main;
  padding-bottom: $padding-main;
  padding-inline-start: 0;
  * {
    color: $color-text-primary;
    text-decoration: none;
  }
  a {
    display: inline-block;
    padding: 0.25rem;
    transition: background-color 0.2s;
    &:hover {
      background-color: $color-highlight;
    }
  }
}
main {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: $sidebar-calc-width;
  padding-top: $padding-main;
  padding-bottom: $padding-main;
  padding-right: 0;
  /* width: 100%; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  // max-width: $main-col-width;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  > *:not(.custom-width) {
    padding-left: $padding-main;
    padding-right: $padding-main;
    width: 100%;
    max-width: $main-col-width;
    flex-shrink: 0;
  }
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: $padding-card;
}

/* Portfolio Card */
.portfolio-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-card-width, 1fr));
  column-gap: 0;
  position: relative;
  width: 100%;
}
.portfolio-card-tile {
  position: relative;
  padding: $padding-main;
  text-decoration: none;
  color: var(--color-text-primary);
  display: block;
  * {
    display: block;
    color: var(--color-text-primary);
    text-decoration: none;
  }

  h2 {
    font-size: 1.25rem;
  }
  &:hover {
    background-color: $color-highlight;
  }
}
.portfolio-card-tile-contents {
  position: relative;
  max-width: 100%;
}
.portfolio-card-tile img {
  width: 100%;
  position: relative;
}
// image tile layout

.portfolio-tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max(450px, 33%), 1fr));
  padding: $portfolio-tile-gap;
  gap: $portfolio-tile-gap $portfolio-tile-gap;
}
.portfolio-tile {
  position: relative;
  overflow: hidden;
  img {
    width: 100%;
    display: block;
  }
}

.portfolio-tile-text-overlay {
  padding: $padding-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: $padding-main;
  left: $padding-main;
  right: $padding-main;
  bottom: $padding-main;
  opacity: 0;
  background-color: white;
  transform: scale(90%);
  transition: all 0.5s;
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
  color: $color-text-primary;
  text-decoration: none;
}
.portfolio-tile:not(:focus, :hover) .portfolio-tile-text-overlay {
  pointer-events: none;
}
.portfolio-tile:focus .portfolio-tile-text-overlay,
.portfolio-tile:hover .portfolio-tile-text-overlay {
  pointer-events: all;
  opacity: 1;
  transform: scale(1);
  transition: all 0.5s;
}
/* wide (UX) portfolio layout */
.portfolio-wide-img {
  width: 100%;
  height: auto;
}
.portfolio-wide-text-wrapper {
  width: 100%;
  display: grid;
  padding-top: $padding-main;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  column-gap: $padding-main;
}
.portfolio-wide-text-sm {
  font-size: $font-size-sm;
}
.portfolio-wide-text-md {
  font-size: 1.5rem;
}
.portfolio-wide-cta-link {
  display: block;
}

// splash page
.splash-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// transitions:
html {
  overflow-y: scroll;
}

.fade-leave {
  opacity: 1;
  transform: translateY(0);
}
.fade-leave-active {
  transition: all 0.3s linear;
}
.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-active {
  transition: all 0.3s linear;
}
.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

//begin mobile
@media (max-width: 720px) {
  .main-nav-container {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    width: initial;
    height: 3rem;
    hr {
      display: none;
    }
  }
  .sidebar-nav-link-section {
    margin: 0;
    padding-top: $padding-main;
    padding-bottom: $padding-main;
  }
  .sidebar-nav-link-section a {
    font-size: $font-size-l;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .main-nav {
    transform: none;
    background-color: $color-sidebar-background;
    opacity: 1;
    transition: all 0.3s;
    padding-left: $padding-main;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - 3rem);
  }
  .main-nav-hidden {
    transform: translateY(-100%);
    opacity: 0;
    transition: all 0.3s;
  }
  .portfolio-tile-container {
    grid-template-columns: 100%;
  }
  .btn-toggle-menu {
    display: block;
  }
  .site-masthead {
    z-index: 10;
    position: relative;
    height: 3rem;
    display: flex;
    padding: $padding-main;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    h3 {
      margin: 0;
    }
    p {
      display: none;
    }
  }
  main {
    padding-left: 0;
    padding-right: 0;
  }
}

.page-title {
  border-bottom: $border-width solid $border-color;
  padding-bottom: $padding-main;
}

code {
  white-space: pre-wrap;
  line-height: 1.2;
}
pre {
  background-color: yellow;
  padding-top: $padding-main;
  padding-bottom: $padding-main;
}
.active {
  background-color: $color-highlight;
  transition: background-color 0.2s;
}
// components

section.big-text {
  background-color: lightpink;
  padding: $padding-main * 2;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $padding-main;
  margin-bottom: $padding-main;
  // ensure correct margins on big-text component
  > :first-child {
    margin-top: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
  p {
    font-size: $font-size-l;
  }
  > * {
    width: 100%;
    padding-left: $padding-main;
    padding-right: $padding-main;
    max-width: $main-col-width;
    flex-shrink: 0;
  }
}
// inline-nav component
.component-inline-nav {
  max-width: $main-col-width;
  border-top: $border-width solid $border-color;
  padding-top: $padding-main;
  // padding-bottom: $padding-main;
  margin-top: 2 * $padding-main;
}
.component-inline-nav .sibling-navigation {
  padding-left: 0;
  padding-right: 0;
  a {
    padding: $padding-main;
  }

  a,
  a:visited {
    color: $color-text-primary;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    background-color: $color-hover;
  }
  display: flex;
  justify-content: space-between;
  > :first-child {
    text-align: left;
  }
  > :last-child {
    text-align: right;
  }
}

// utility classes

.custom-width-125 {
  max-width: $main-col-width * 1.25;
}
.custom-width-150 {
  max-width: $main-col-width * 1.5;
}
.custom-width-200 {
  max-width: $main-col-width * 2;
}
.custom-width-75 {
  max-width: $main-col-width * 0.75;
}
.custom-width-full {
  width: 100%;
}

.site-masthead {
  h3 {
    color: $name-color;
  }
  p {
    color: $tagline-color;
  }
}