@use "reset.css";
@use "sass:math";
@use "sass:color";
@use "../../../src/css/theme.scss" as *;

// sass calculations:

$sidebar-calc-width: clamp(
  $sidebar-min-width,
  $sidebar-width,
  $sidebar-max-width
);

:root {
  font-size: $font-size-base;
  font-family: $theme-font-stack-main;
}

img {
  display: block;
  width: 100%;
  max-width: 100%;
  height: auto;
}

main {
  overflow-x: hidden;
}
html {
  background-color: $color-page-background;
}
h1 {
  font-size: $font-size-xxl;
}
h2 {
  font-size: $font-size-xl;
}
h3 {
  font-size: $font-size-l;
}
h4,
h5,
h6 {
  font-size: $font-size-md;
}
h1,
h2,
h3,
h4 {
  font-family: $theme-font-stack-headers;
}

h5,
h6 {
  font-family: $theme-font-stack-main;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  display: block;
  // hyphens: auto;
  margin-top: 0.75em;
  margin-bottom: 0.5em;

  display: block;
  max-width: $main-col-width;
}
p {
  line-height: 1.6;
  margin-bottom: 0.75em;
  max-width: $main-col-width;

  > img {
    width: 100%;
  }
}
main {
  * {
    color: $color-text-primary;
  }
  hr {
    border-bottom: $border-width solid $color-borders;
    border-top: none;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $color-text-headers;
  }

  a {
    color: $color-text-link;
  }
  ul,
  ol {
    // padding-left: $padding-main * 2;
    li {
      position: relative;
      left: $padding-main;
      width: calc(100% - $padding-main);
      margin-bottom: 0.25em;
      line-height: 1.4;

      p {
        margin-bottom: 0.25em;
      }
    }
  }
}

*:focus {
  outline: 3px solid $color-focus-ring;
  position: relative;
  z-index: 100;
}
.site-masthead:focus-within {
  background-color: $color-sidebar-hover;
  outline: 3px solid $color-focus-ring;
  position: relative;
  z-index: 100;
}
body {
  margin: 0;
}
.main-nav-container {
  width: $sidebar-calc-width;
  position: fixed;
  background-color: $color-sidebar-background;
  height: 100%;
  padding: $padding-main;
  z-index: 10;
  transition: all 0.5s;
  color: $color-sidebar-text;
}
.site-masthead {
  z-index: 10;
  position: relative;
  a {
    color: $color-sidebar-text;
    text-decoration: none;
  }
  h3 {
    margin-top: 0;
    font-size: $font-size-nav-masthead;
  }
  p {
    margin-bottom: 0;
    font-size: $font-size-nav-submasthead;
  }
  margin-bottom: $padding-main;
  // padding: $padding-card $padding-main;
}
.sidebar-rule {
  border-bottom: $weight-sidebar-rule solid $color-sidebar-rule;
}
.btn-toggle-menu {
  display: none;
}
.active {
  background-color: $color-sidebar-highlight;
  transition: background-color 0.2s;
}

// listItemClass: "",
// listItemHasChildrenClass: "",

.nav-list-item {
  font-size: $font-size-nav-pages;
}
.nav-list-item-has-children ul {
  padding-left: $nav-project-indent;
}
.nav-list-item-has-children .nav-list-item {
  font-size: $font-size-nav-projects;
}

.sidebar-nav-link-section {
  padding-top: $padding-main;
  padding-bottom: $padding-main;
  padding-inline-start: 0;
  * {
    color: $color-sidebar-text;
    text-decoration: none;
  }
  a {
    display: inline-block;
    padding: 0.25rem;
    transition: background-color 0.2s;
    &:hover,
    &:focus {
      background-color: $color-sidebar-hover;
    }
  }
}
main {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: $sidebar-calc-width;
  padding-top: $padding-main;
  padding-bottom: $padding-main;
  padding-right: 0;
  /* width: 100%; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  // max-width: $main-col-width;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  > iframe {
    margin-top: $padding-main;
    margin-bottom: $padding-main;
  }
  > * {
    padding-left: $padding-main;
    padding-right: $padding-main;
    width: 100%;
    max-width: $main-col-width;
    flex-shrink: 0;
  }
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
  padding: $padding-card;
}
.skip-link {
  position: fixed;
  background-color: $color-page-background;
  padding: $padding-main;
  z-index: 100000;
  opacity: 0;
  pointer-events: none;
  text-decoration: none;
  color: $color-text-primary;
}
.skip-link:focus {
  opacity: 1;
  pointer-events: all;
}

/* Portfolio Card */
.portfolio-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min-card-width, 1fr));
  column-gap: 0;
  position: relative;
  width: 100%;
}
.portfolio-card-tile {
  position: relative;
  // box-sizing:border-box;
  padding: $padding-main;
  text-decoration: none;
  color: $color-text-primary;
  display: block;
  * {
    display: block;
    color: $color-text-primary;
    text-decoration: none;
  }
  img {
    aspect-ratio: $portfolio-card-aspect-ratio;
    object-fit: cover;
  }
  h2 {
    font-size: 1.25rem;
  }
  &:hover,
  &:focus,
  &:active {
    background-color: $color-portfolio-card-highlight;
  }
}
p.portfolio-card-desc-short {
  margin-bottom: 0.25em;
}
.portfolio-card-desc-med {
  font-size: $font-size-sm;
}
.portfolio-card-tile-contents {
  position: relative;
  max-width: 100%;
}
.portfolio-card-tile img {
  width: 100%;
  position: relative;
}
// image tile layout

.portfolio-tile-container {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, max(450px, 100% / $portfolio-tile-max-columns)), 1fr)
  );
  padding: $portfolio-tile-gap;
  gap: $portfolio-tile-gap $portfolio-tile-gap;
}
.portfolio-tile {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: fit-content;
  background-size: cover;
  background-position: center;
  // padding: $portfolio-tile-overlay-inset;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.portfolio-tile-image {
  aspect-ratio: $portfolio-tile-aspect-ratio;
  object-fit: cover;
}
.portfolio-tile-project-desc-short {
  font-size: $font-size-l;
}
.portfolio-tile-project-desc-med {
  font-size: $font-size-md;
}
.portfolio-tile-text-overlay {
  position: absolute;
  padding: $padding-main;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex: 1 0 auto;
  min-height: calc(100% - 2 * $portfolio-tile-overlay-inset);
  //- 2 * $portfolio-tile-overlay-inset
  width: calc(
    min(100%, 50rem) - 2 * $padding-main - 2 * $portfolio-tile-overlay-inset
  );
  //  - 2 * $portfolio-tile-overlay-inset
  opacity: 0;
  background-color: $color-tile-overlay;
  transform: scale(90%);

  // width: calc(100% - 2 * $portfolio-tile-overlay-inset);
  transition: all 0.5s;
  :first-child {
    margin-top: 0;
  }
  :last-child {
    margin-bottom: 0;
  }
  * {
    color: $color-tile-overlay-text;
  }
}
.portfolio-tile-click-area {
  text-decoration: none;
  margin-bottom: 0.5em;
}
.portfolio-tile-click-area:focus {
  outline: none !important;
  position: static;
}
.portfolio-tile-text-overlay:focus-within {
  outline: 3px solid $color-focus-ring;
}
.portfolio-tile-click-area::after {
  content: "";
  // background-color: yellow;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}
.portfolio-tile-click-area:focus::after {
  // outline: 3px solid $color-focus-ring;
}
.portfolio-tile-image-link:focus {
  outline: none;
}
.portfolio-tile:focus-within .portfolio-tile-text-overlay,
.portfolio-tile:hover .portfolio-tile-text-overlay {
  // pointer-events: all;
  opacity: $portfolio-tile-overlay-opacity;
  transform: scale(1);
  transition: all 0.5s;
}

/* wide (UX) portfolio layout */
.portfolio-wide-tile {
  > a {
    color: $color-text-primary;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      transform: translateX($padding-card);
      transition: all 0.3s;
    }
  }
}
.portfolio-wide-img {
  width: 100%;
  height: auto;
}
.portfolio-wide-text-wrapper {
  width: 100%;
  display: grid;
  padding-top: $padding-main;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: $padding-main;
}
.portfolio-wide-text-sm {
  font-size: $font-size-sm;
}
.portfolio-wide-text-md {
  font-size: 1.5rem;
  line-height: 1.5;
}
.portfolio-wide-right-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.portfolio-wide-cta-link.portfolio-wide-cta-link {
  margin-top: 0.5em;
  display: inline-block;
  font-size: $font-size-sm;
  padding: 0.75em;
  background-color: transparent;
  border: 2px solid $portfolio-wide-cta-color;
  color: $portfolio-wide-cta-color;
  border-radius: 0.25em;
  width: auto;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.08em;
  transition: all 0.2s;
  &:hover {
    background-color: $portfolio-wide-cta-color;
    color: $color-page-background;
    transition: all 0.2s;
  }
}

// transitions:
html {
  overflow-y: scroll;
}

.fade-leave {
  opacity: 1;
  transform: translateY(0);
}
.fade-leave-active {
  transition: all 0.3s linear;
}
.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-active {
  transition: all 0.3s linear;
}
.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

//begin mobile
@media (max-width: 720px) {
  :root {
    font-size: $font-size-mobile;
  }

  .main-nav-container {
    position: fixed;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
    height: $nav-height-mobile;
    hr {
      display: none;
    }
  }
  .portfolio-wide-text-md {
    margin-bottom: 0.5em;
  }
  .sidebar-nav-link-section {
    margin: 0;
    padding: $padding-main;
  }
  .sidebar-nav-link-section a {
    font-size: $font-size-l;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .main-nav {
    transform: none;
    background-color: transparent;
    opacity: 1;
    position: absolute;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    padding-left: 0;
    padding-bottom: $padding-main;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - $nav-height-mobile);
    pointer-events: none;
  }

  .main-nav-hidden {
    // transform: translateY(-50%);
    // opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
  }
  .sidebar-nav-link-section {
    transition: all 0.3s;
    background-color: $color-mobile-nav-background;
    pointer-events: all;
  }
  .nav-link-section-hidden {
    transform: translateY(-50%);
    opacity: 0;
    transition: all 0.3s;
    pointer-events: none;
  }
  .portfolio-tile {
    text-decoration: none;
  }
  .portfolio-tile-text-overlay {
    position: relative;
    padding: $padding-main;
    opacity: 1;

    transform: scale(1);
  }
  .sidebar-rule {
    display: none;
  }
  .portfolio-tile-container,
  .portfolio-card-container {
    grid-template-columns: 100%;
  }
  .btn-toggle-menu {
    display: block;
    border: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 100;
    height: 3rem;
    width: 3rem;
    pointer-events: all;
    padding: $padding-card;
    background-color: transparent;
    svg {
      height: 100%;
      width: 100%;
      fill: $color-sidebar-text;
    }
    &:hover {
      background-color: $color-sidebar-hover;
    }
  }
  .site-masthead {
    z-index: 10;
    position: relative;
    height: $nav-height-mobile;
    margin-bottom: 0;
    display: flex;
    padding: 0;
    padding-left: $padding-card;
    border-bottom: $weight-top-nav-border solid $color-top-nav-border;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: $color-sidebar-background;

    h3 {
      margin: 0;
      font-size: $font-size-l;
    }
    p {
      display: none;
    }
  }
  main {
    padding-left: 0;
    padding-right: 0;
    margin-top: $nav-height-mobile - 1rem;
  }
}

.page-title {
  border-bottom: $border-width solid $color-borders;
  padding-bottom: $padding-main;
}

code {
  white-space: pre-wrap;
  line-height: 1.2;
}
pre {
  background-color: rgb(0, 0, 87);
  color: lightblue;
  padding: $padding-main;
}
pre * {
  color: rgb(219, 246, 255);
}

// components

// inline-nav component
.component-inline-nav {
  max-width: $main-col-width;
  border-top: $border-width solid $color-borders;
  padding-top: $padding-main;
  // padding-bottom: $padding-main;
  margin-top: 2 * $padding-main;
}
.component-inline-nav .sibling-navigation {
  padding-left: 0;
  padding-right: 0;
  flex-wrap: wrap;
  a {
    padding: $padding-main;
  }

  a,
  a:visited {
    color: $color-text-primary;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    background-color: $color-next-project-hover;
  }
  display: flex;
  justify-content: space-between;
  > :first-child {
    text-align: left;
  }
  > :last-child {
    text-align: right;
  }
}

// utility classes

// these styles are used for the per-element staggered transition.
// this selector is duplicated so it has higher specificity than the 'transition-animation-base' class,
// since both are applied to the same element, we want the 'hide-item' class to have precedence.

.transition-hide-item.transition-hide-item {
  opacity: 0;
  transform: translateX(-30px);
  transition: none;
}

.transition-animation-base {
  opacity: 1;
  transform: translateX(0);
  transition: all 0.3s;
}

.custom-width-full {
  max-width: 100%;
  padding: 0;
}
.custom-width-150 {
  max-width: min(100%, 1.5 * $main-col-width);
  padding: 0;
}

// these styles are used for the youtube embed plugin

.eleventy-plugin-youtube-embed {
  margin-top: $padding-main;
  margin-bottom: $padding-main;
}

// * {
//   border: 1px solid red;
// }
