
{% set breadCrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
 {% set parentPage = breadCrumbs[0] %}
<article class="component-inline-nav">


{% set siblingPages = collections.sorted | getSiblingPages(eleventyNavigation) %}
<nav class="sibling-navigation">
  
    {% for siblingPage in siblingPages %}

    {% if siblingPage %}
      <a href="{{siblingPage.url}}"><p>{{siblingPage.labelText}}</p><h4>{{siblingPage.data.eleventyNavigation.key}}</h4></a>

    {% else %}
     <div class="placeholder"></div>  
    {% endif %}
      
        
    {% endfor %}
 
</nav>

</article>