
{% set breadCrumbs = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) %}
 {% set parentPage = breadCrumbs[0] %}

{% if parentPage %}
<article class="inline-nav-section">
  <a href="{{parentPage.url}}">Return to {{parentPage.title}}</a>
</article>
{% endif %}


{% set siblingPages = collections.sorted | getProjectPagesByParent(eleventyNavigation.parent) %}

{% for siblingPage in siblingPages %}
  {{siblingPage.data.eleventyNavigation.key}}
{% endfor %}