
        <article class="portfolio-tile" >
             <div class="portfolio-tile-image" style="background-image:url('{{project.thumbnail}}');"></div>
            <a href="{{project.page.url}}"  class="portfolio-tile-text-overlay" >
              <h2 class="portfolio-tile-project-title"href="{{project.url}}">{{ project.eleventyNavigation.key }}</h2>
              {% if project.description_short %}
              <p class="portfolio-tile-project-desc-short">{{project.description_short}}</p>
              {% endif %}
              {% if project.description_medium %}
              <p class="portfolio-tile-project-desc-med">{{project.description_medium}}</p>
              {% endif %}

            </a>
        </article>