<article class="portfolio-tile">
  {#
  <div
    class="portfolio-tile-image"
    style="background-image:url('{{project.thumbnail}}');"
  ></div>
  #}
  <a href="{{project.page.url}}" class="portfolio-tile-image-link" tabindex="-1">
    <img
      src="{{project.thumbnail}}"
      alt="{{project.thumbnailAlt if project.thumbnailAlt else project.description_short}}"
      class="portfolio-tile-image"
  /></a>

  <div class="portfolio-tile-text-overlay">
    <a href="{{project.page.url}}" class="portfolio-tile-click-area">
      <h2 class="portfolio-tile-project-title" href="{{project.url}}">
        {{ project.eleventyNavigation.key }}
      </h2></a
    >

    {% if project.description_short %}
    <p class="portfolio-tile-project-desc-short">
      {{project.description_short}}
    </p>
    {% endif %} {% if project.description_medium %}
    <p class="portfolio-tile-project-desc-med">
      {{project.description_medium}}
    </p>
    {% endif %}
  </div>
</article>
