<header class="main-nav-container">
  <div class="site-masthead">
    <h3>{{siteInfo.designerName}}</h3>
    <p>{{siteInfo.designerTagline}}</p>
    <button class="btn-toggle-menu">X</button>
  </div>
  <hr>
  <nav class="main-nav main-nav-hidden">
    <ul class="sidebar-nav-link-section">
     {{ collections.sorted | eleventyNavigation | eleventyNavigationToHtml({activeKey: eleventyNavigation.key ,activeAnchorClass: "active"}) | safe }}


    </ul>


  </nav>

</header>