<header class="main-nav-container">
  <div class="site-masthead">
    <h3>{{siteInfo.designerName}}</h3>
    <p>{{siteInfo.designerTagline}}</p>
    <button class="btn-toggle-menu">X</button>
  </div>
  <hr>
  <nav class="main-nav main-nav-hidden">
    <ul class="sidebar-nav-link-section">
     {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}

{# 
      {%- for portfolio in collections.portfolioSorted -%}
      <li><a href="{{portfolio.url}}" class="{{'active' if portfolio.url in page.url}}">{{portfolio.data.title}}</a>
      </li>
      <li>
        <ul>
          {%- for project in collections.projectSorted -%}
          {% if portfolio.data.subset in project.data.subset %}
          <li><a href="{{project.url}}" class="{{'active' if project.url in page.url}}">{{ project.data.title }}</a>
          </li>
          {% endif %}

          {%- endfor -%}
        </ul>
      </li>
      {%- endfor -%}
      {%- for staticpage in collections.pageSorted -%}
      <li><a href="{{staticpage.url}}"
          class="{{'active' if staticpage.url in page.url}}">{{ staticpage.data.title }}</a></li>
      {%- endfor -%} #}
    </ul>


  </nav>

</header>