@use "theme.css";
@use "reset.css";
// sass variables
$font-size-base: 18px;
$font-size-mobile: 16px;

$font-size-sm: 0.72rem; //figcaption
$font-size-md: 1rem; //p
$font-size-l: 1.41rem; //h3
$font-size-xl: 2rem; //h2
$font-size-xxl: 2.82rem; //h1

$min-card-width: 300px;

h1 {
  font-size: $font-size-xxl;
}
h2 {
  font-size: $font-size-xl;
}
h3 {
  font-size: $font-size-l;
}
h4,
h5,
h6 {
  font-size: $font-size-md;
}
p {
  line-height: 1.4em;
}

:root {
  font-size: $font-size-base;
  font-family: "Work Sans", sans-serif;

  --main-padding: 1rem;
  --sidebar-width: 300px;
  --main-col-width: 800px;
  --card-padding: 1rem;
  --sidebar-color: lightgrey;
  --color-text-primary: black;
  --color-highlight: lightgreen;
}

body {
  margin: 0;
}
header.main-nav {
  width: var(--sidebar-width);
  position: fixed;
  background-color: var(--sidebar-color);
  height: 100%;
  padding: var(--main-padding) var(--card-padding);
  z-index: 10;
  transition: all 0.5s;
}
.sidebar-nav-link-section {
  * {
    color: black;
    text-decoration: none;
  }
  a {
    display: inline-block;
    padding: 0.25rem;
    transition: background-color 0.2s;
    &:hover {
      background-color: var(--color-highlight);
    }
  }
}
main {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  padding-left: calc(var(--sidebar-width) + var(--main-padding));
  padding-top: var(--main-padding);
  padding-bottom: var(--main-padding);
  padding-right: var(--main-padding);
  /* width: 100%; */
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

article {
  max-width: var(--main-col-width);
  // border: 1px solid lightgray;
  width: 100%;
  > h1,
  > h2,
  > h3,
  > h4,
  > h5,
  > h6,
  > p,
  pre {
    padding-left: var(--card-padding);
    padding-right: var(--card-padding);
  }
}

/* Portfolio Grid */
.portfolio-grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax($min-card-width, 1fr));
  column-gap: 0;
  position: relative;
  width: 100%;
}
.portfolio-grid-tile {
  position: relative;
  padding: var(--card-padding);

  color: var(--color-text-primary);
  display: block;
  * {
    color: var(--color-text-primary);
    text-decoration: none;
  }
  a {
  }

  h2 {
    font-size: 1.25rem;
  }
  &:hover {
    background-color: var(--color-highlight);
  }
}
.portfolio-grid-tile-contents {
  position: relative;
  max-width: 100%;
}
.portfolio-grid-tile img {
  width: 100%;
  position: relative;
}

/* wide (UX) portfolio layout */
.portfolio-wide-img {
  width: 100%;
  height: auto;
}
.portfolio-wide-text-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  column-gap: var(--main-padding);
}
.portfolio-wide-text-sm {
}
.portfolio-wide-text-md {
  font-size: 1.5rem;
}
.portfolio-wide-cta-link {
  display: block;
}

// splash page
.splash-section {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: lightgreen;
  z-index: 100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// transitions:
html {
  overflow-y: scroll;
}

.fade-leave {
  opacity: 1;
  transform: translateY(0);
}
.fade-leave-active {
  transition: all 0.3s linear;
}
.fade-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

.fade-enter {
  opacity: 0;
  transform: translateY(-20px);
}
.fade-enter-active {
  transition: all 0.3s linear;
}
.fade-enter-to {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 720px) {
  // mobile styles
}

code {
  white-space: pre-wrap;
  line-height: 1.2;
}
pre {
  background-color: yellow;
  padding-top: var(--card-padding);
  padding-bottom: var(--card-padding);
}
.active {
  background-color: var(--color-highlight);
  transition: background-color 0.2s;
}
