<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title if page.title else title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
</head>

<body data-barba="wrapper">
    
    
        {% block sidebar %}
        {% include 'partials/sidebar.njk' %}
        {% endblock %}


    <main data-barba="container" data-barba-namespace="{{page.url}}">

        {% block main %}
        <article class = "text-page">
           
            
            {% if customTitle %}
            
                <h1>{{customTitle}}</h1>

            {% else %}
            <h1>{{title}}</h1>
            {% endif %}
            
            {{content | safe}}
        </article>

        {% endblock %}
        

    </main>

{% block splash %}
        
    {% endblock %}
</body>
<script src="/assets/js/bundle.js"></script>

</html>