{% extends "base.njk" %}
{% block main %}
<article>
  <h1>{{ eleventyNavigation.key if eleventyNavigation.key else title }}</h1>
  {# places website content above the portfolio grid #}
  {{content | safe}}

  {# select which portfolio layout to use #}
  {% if portfolio_type == "wide" %}
    {% include "partials/portfolio-wide.njk" %}
  {% elif portfolio_type == "tile"  %}
    {% include "partials/portfolio-tile.njk" %}

  {% elif portfolio_type == "card"  %}

    {% include "partials/portfolio-card.njk" %}
  {% endif %}


  </section>
</article>

{% endblock %}