{% extends "base.njk" %}
{% block main %}
<article>
  <section class="portfolio-intro">
  <h1>{{ eleventyNavigation.title if eleventyNavigation.title else eleventyNavigation.key }}</h1>
  {# places website content above the portfolio grid #}
  {{content | safe}}
  </section>


  {# insert opening tag for correct portfolio type #}
  {% if portfolio_type == "wide" %}
  <section class="portfolio custom-width custom-width-full">
  <nav class="portfolio-wide-container">
  {% elif portfolio_type == "tile"  %}
  <section class="portfolio custom-width custom-width-full">
  <nav class="portfolio-tile-container">

  {% elif portfolio_type == "card"  %}
  <section class="portfolio custom-width custom-width-150">
  <nav class="portfolio-card-container">
 {% endif %}

  {# loop through all the projects in the portfolio #}
   {% for pageItem in collections.sorted %}
    
    
    {% if pageItem.data.eleventyNavigation.parent == eleventyNavigation.key %}
      {% set project = pageItem.data %}

   

              {% if portfolio_type == "wide" %}
              {% include "partials/portfolio-wide.njk" %}
              {% elif portfolio_type == "tile"  %}
              {% include "partials/portfolio-tile.njk" %}

              {% elif portfolio_type == "card"  %}

              {% include "partials/portfolio-card.njk" %}
              {% endif %}
      
      {% endif %}

    {% endfor %}
            </nav>
          </section>
      </section>
</article>

{% endblock %}