/* font imports here */
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;800&family=Viaoda+Libre&display=swap");
/* This line sets the default font for most text, including the body text and navigation */
$theme-font-stack-main: "Montserrat Alternates", sans-serif;

/* This line sets the font for headers, including the site title*/
$theme-font-stack-headers: "Viaoda Libre", cursive;

// This line sets the base font size for desktop
// default is 110%
$font-size-base: 130%;

// This line sets the base font size for mobile
// default is 100%
$font-size-mobile: 100%;

// This line controls the amount of variation between font sizes.
// Increasing this number will make headers larger overall.
// Setting this to 1 will make all fonts on the website the same size.
// I would suggest a value between 1.2 and 1.5
// default is 1.41
$font-size-scale-factor: 1.4;

// COLORS:

// This line sets the background color for the entire page
// default is white
$color-page-background: white;

// This line sets the background color for the sidebar area, and for the top bar on mobile
// default is a light gray (#c0c0c0)
$color-sidebar-background: #0d3a2c;
$name-color: white;
$tagline-color: white;
$color-text-primary: rgb(228, 228, 228);
$color-text-headers: rgb(190, 190, 190);
$color-text-link: red;
$color-highlight: rgb(4, 38, 28);
$color-hover: lightpink;

// This section is for the 'tile' portfolio layout:

// This line sets the gap between tiles
// default is 0px
$portfolio-tile-gap: 0px;

// This line sets the maximum number of tiles allowed in one line
// default is 3
$portfolio-tile-max-columns: 3;

// This line sets the thickness of borders/rules where they are used
// set this to 0px to remove borders
// default is 3px;

$border-width: 3px;
$border-color: black;

$min-card-width: 300px;

$padding-main: 2rem;
$padding-card: 0.5rem;

$main-col-width: 40rem;

$sidebar-width: 30%;
$sidebar-min-width: 250px;
$sidebar-max-width: 500px;

.btn-toggle-menu {
  display: none;
  background: transparent;
  border: 0;
  color: white;
  font-size: 1.5rem;
  font-family: $theme-font-stack-main;
}

.component-inline-nav .sibling-navigation a,
.component-inline-nav .sibling-navigation a:visited {
  color: black !important;
}

.portfolio-tile-text-overlay {
  background: linear-gradient(#005632, #285d00);
  color: white;
}

.pair {
  display: inline-block;
  width: 100%;
  @media (min-width: 480px) {
    width: 49%;
  }
}

@media (min-width: 720px) {
  .site-masthead h3 {
    font-size: 58px;
  }
}
